<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/tomorrow-night.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body ng-app="timesheetApp">
<div class="container" ng-controller="employeesController">
    <div class="page-header">
        <h1>Employees</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="employees && employees.length > 0">
        There are no items yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addEmployee(newEmployee)">
        <div class="form-group" ng-repeat="employee in employees">
            <div class="col-xs-9">
                <label>
                    {{employee.dba}}
                </label>
            </div>
            <div class="col-xs-3">
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteEmployee(employee)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <button class="btn btn-primary" ng-click="onClickNavigateToTimeSheets(employee._links.timesheets.href)">Show Timesheets</button>
            <div uib-collapse="!isTimeSheetCollapsed">
                This is your timesheet:
                <table class="table" >
                    <th><strong>Billed</strong></th>
                    <th><strong>Start Date</strong></th>
                    <th><strong>End Date</strong></th>
                    <tr  ng-repeat="timesheet in timesheets">
                        <td>{{timesheet.billed}}</td>
                        <td>{{timesheet.startDate}}</td>
                        <td>{{timesheet.endDate}}</td>
                    </tr>
                </table>
            </div>

        </div>
        <hr/>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newEmployee" placeholder="Enter First Name..."/>
            <input type="text" class="form-control" ng-model="employee.username" placeholder="Enter the username..."/>
            <input type="text" class="form-control" ng-model="employee.password" placeholder="Enter the password..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newEmployee" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
    </form>
</div>

<!--<script src="/js/services/timesheetEntryServices.js"></script>-->
<script src="lib/bower/angular/angular.js"></script>
<script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/bower/angular-resource/angular-resource.js"></script>
<script src="lib/bower/angular-route/angular-route.js"></script>
<script src="lib/bower/highlightjs/highlight.pack.js"></script>
<script src="lib/bower/angular-highlightjs/build/angular-highlightjs.js"></script>
<script src="lib/bower/angular-spring-data-rest/dist/angular-spring-data-rest.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<!--<script type="text/javascript" src="../resources/static/app/controllers.js"></script>-->
<!--<script type="text/javascript" src="../resources/static/app/employeeServices.js"></script>-->

</body>
</html>