<div class="container">
    <form class="form-horizontal" role="form" ng-submit="addEmail(employee)">
        <div class="input-group">
            <table class="table" width="100px">
                <th><strong>Email</strong></th>
                <tr>
                    <td><input type="text" class="form-control" ng-model="employee.email.email"
                               placeholder="Email Address"/></td>
                    <td>
                    <td><select name="repeatSelect1" id="repeatSelect1" ng-model="employee.email.emailType">
                        <option value=""> ---- Select Email Type ----</option>
                        <option ng-repeat="option in emailTypes" value="{{option}}">{{option}}</option>
                    </select></td>
                    </td>
                </tr>
            </table>
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </span>
        </div>
    </form>
</div>