<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/tomorrow-night.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Add Employee Phone</title>
</head>
<body ng-app="timesheetApp">
<div class="page-header">
    <h1>Add Employee Phone for {{employee}}</h1>
</div>
<div class="container" ng-controller="EditEmployeePhoneController">
    <div class="form-group" >
        <form class="form-horizontal" role="form" ng-submit="addEmployeePhone(employee)">
            <div class="input-group">
                <table class="table">
                    <th><strong>Phone Number</strong></th>

                    <tr>
                        <td><input type="text" class="form-control" ng-model="employee.phone.phone"
                                   placeholder="Phone (e.g.##########)"/></td>
                    </tr>
                </table>
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </span>
            </div>
        </form>
    </div>
</div>
</body>
</html>