<div class="container" ng-controller="EmployeesController">
    <div class="page-header">
        <h1>Employees</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="users && users.length > 0">
        There are no items yet.
    </div>

    <div class="form-group" ng-repeat="user in users">
        <div class="col-xs-9">
            <div id="Employee" class="container" ng-include="'views/user/user.html'"></div>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToTimeSheets(user._links.timesheets.href)">Show Timesheets
            </button>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToAddresses(user._links.address.href)">Show Addresses
            </button>

            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToPhones(user._links.phones.href)">Show Phones
            </button>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToEmails(user._links.emails.href)">Show Emails
            </button>
        </div>

        <div uib-collapse="!isAddressCollapsed">
            <div id="EmployeeAddress" class="container" ng-include="'views/user/address.html'"></div>
        </div>

        <div uib-collapse="!isPhonesCollapsed">
            <div id="EmployeePhone" class="container" ng-include="'views/user/phone.html'"></div>
        </div>

        <div uib-collapse="!isEmailsCollapsed">
            <div id="EmployeeEmail" class="container" ng-include="'views/user/email.html'"></div>
        </div>

        <div uib-collapse="!isTimeSheetCollapsed">
            <table class="table">
                <th>&nbsp;</th>
                <th><strong>Billed</strong></th>
                <th><strong>Start Date</strong></th>
                <th><strong>End Date</strong></th>
                <tr ng-repeat="timesheet in timesheets">
                    <td>
                        <button class="btn btn-primary"
                                ng-click="onClickNavigateToTimeSheetEntries(timesheet._links.timeSheetEntries.href)">
                            Show Timesheet Entries
                        </button>
                    </td>
                    <td>{{timesheet.billed}}</td>
                    <td>{{timesheet.startDate}}</td>
                    <td>{{timesheet.endDate}}</td>
                </tr>
            </table>

            <div uib-collapse="!isTimeSheetEntryCollapsed">
                <table class="table">
                    <th><strong>Date</strong></th>
                    <th><strong>Job Id</strong></th>
                    <th><strong>Hours</strong></th>
                    <tr ng-repeat="timesheetEntry in timesheetEntries">
                        <td>{{timesheetEntry.date}}</td>
                        <td>{{timesheetEntry.job}}</td>
                        <td>{{timesheetEntry.hours}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <hr/>
</div>