<div class="container" ng-controller="TimesheetController">
    <h1>Timesheets</h1>
    <table class="table">
        <th><strong>Billed</strong></th>
        <th><strong>Start Date</strong></th>
        <th><strong>End Date</strong></th>
        <tr ng-repeat="timesheet in timesheets">
            <td>{{timesheet.billed}}</td>
            <td>{{timesheet.startDate}}</td>
            <td>{{timesheet.endDate}}</td>
        </tr>
    </table>
    <span class="input-group-btn">
        <select name="jobSelect1" id="jobSelect1" ng-model="jobId"
                ng-change="onClickCreateTimesheet(jobId)">
            <option value="" selected> ---- Select Job ----</option>
            <option ng-repeat="option in jobs" value="{{option.jobId}}">
                {{option.job.name}}
            </option>
        </select>
            </span>

    <form class="form-group" role="form" ng-submit="updateTimesheet(jobs)">
        <table class="table" width="20%">
            <tr ng-repeat="job in jobs">
                <td>
                    <table class="table">
                        <tr>
                            <th>
                                Job Name: <i>{{job.job.name}}</i>
                            </th>
                        </tr>
                        <tr>
                            <td><strong>Date</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Hours</strong></td>
                        </tr>

                    </table>
                </td>
                <td>
                    <table class="table">
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td ng-repeat="timesheetEntry in job.timeEntries">{{timesheetEntry.date | date:'EEE MMM-dd-yyyy'}}
                            </td>
                            <td>&nbsp;
                        <tr>
                            <td ng-repeat="timesheetEntry in job.timeEntries"><input type="hidden"
                                                                                     ng-model="timesheetEntry.jobId"
                                                                                     value="{{timesheetEntry.jobId}}"/>
                                <input type="text"
                                       class="form-control"
                                       ng-model="timesheetEntry.hours"
                                       placeholder="{{timesheetEntry.hours}}"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Add Time</strong>
                    <button class="btn btn-default" type="submit" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>


        </table>
    </form>

</div>