<div class="container" ng-controller="timesheetController">
    <table class="table-responsive">
        <th><strong>Time Sheet</strong></th>
        <!--<label ng-repeat="entry in timeSheetEntry">-->
        <tr ng-repeat="entry in timeSheetEntry">
            <td><strong>Billed: {{entry.billed}}</strong></td>
            <td><input type="text" placeholder="Enter Date" ng-model="entry.date"></td>
            <td><input type="text" placeholder="Enter Hours" ng-model="entry.hours"></td>
            <td>
                <button class="btn" ng-click="onClickAdd(entry)">Add</button>
            </td>
        </tr>
        <tr>

        </tr>
        <!--</label>-->
    </table>
</div>