<div class="container" ng-controller="CustomersController">
    <div class="page-header">
        <h1>Customers</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="users && users.length > 0">
        There are no items yet.
    </div>

    <div class="form-group" ng-repeat="user in users">
        <div class="col-xs-9">
            <div id="Customer" class="container" ng-include="'views/user/user.html'"></div>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToTimeSheets(user._links.timesheets.href)">Show Timesheets
            </button>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToAddresses(user._links.addresses.href)">Show Addresses
            </button>

            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToPhones(user._links.phones.href)">Show Phones
            </button>
            <button class="btn btn-primary" type="button"
                    ng-click="onClickNavigateToEmails(user._links.emails.href)">Show Emails
            </button>
        </div>

        <div uib-collapse="!isAddressCollapsed">
            <div id="CustomerAddress" class="container" ng-include="'views/user/address.html'"></div>
        </div>

        <div uib-collapse="!isPhonesCollapsed">
            <div id="CustomerPhone" class="container" ng-include="'views/user/phone.html'"></div>
        </div>

        <div uib-collapse="!isEmailsCollapsed">
            <div id="CustomerEmail" class="container" ng-include="'views/user/email.html'"></div>
        </div>

    </div>
    <div class="container"><a href="#/addUser">Add Customer</a></div>
    <hr/>
</div>