<div class="container">
    <form class="form-horizontal" role="form" ng-submit="addUser(user)">
        <input type="hidden">
        <div class="input-group">
            <table class="table">
                <th><strong>Common Name</strong></th>
                <th><strong>First Name</strong></th>
                <th><strong>Last Name</strong></th>
                <th><strong>Role</strong></th>
                <tr>
                    <td><input type="text" class="form-control" ng-model="user.dba"
                               placeholder="{{user.dba}}"/></td>
                    <td><input type="text" class="form-control" ng-model="user.firstName"
                               placeholder="{{user.firstName}}"/></td>
                    <td><input type="text" class="form-control" ng-model="user.lastName"
                               placeholder="{{user.lastName}}"/></td>

                    <td>
                    <td><select name="repeatSelect1" id="repeatSelect1" ng-model="user.role">
                        <option value=""> ---- Select Role ----</option>
                        <option ng-slected="option.value==roles.role" ng-repeat="option in roles" value="{{option.value}}">{{option.name}}</option>
                    </select></td>
                    <td>
                        <button class="btn btn-default" type="submit" title="Add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </form>
</div>