<div class="container">
    <form class="form-horizontal" name="editUserAddressForm" role="form" ng-submit="updateAddress(address)">
        <div class="input-group">
            <table class="table">
                <th>Street 1</th>
                <th>Street 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <tr>
                    <td><input type="text" class="form-control" ng-model="address.street1"
                               placeholder="{{address.street1}}"/></td>
                    <td><input type="text" class="form-control" ng-model="address.street2"
                               placeholder="{{address.street2}}"/></td>
                    <td><input type="text" class="form-control" ng-model="address.city"
                               placeholder="{{address.city}}"/></td>
                    <td><input type="text" class="form-control" ng-model="address.state"
                               placeholder="{{address.state}}"/></td>
                    <td><input type="text" class="form-control" ng-model="address.zip"
                               placeholder="{{address.zip}}"/></td>
                    <td>
                        <button class="btn btn-default" type="submit" title="Update Address">
                            <span class="glyphicon glyphicon-check"></span>
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" href ng-click="showAddAddressForm()" title="Add New Address">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add
                        </button>
                    </td>
                    <td>
                        <button class="pull-right btn btn-danger" type="button" title="Delete"
                                ng-click="deleteAddress(address)">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </form>
</div>
