<div class="container">
    <form class="form-horizontal" role="form" ng-submit="updatePhone(user,phone)">
        <div class="input-group">
            <table class="table">
                <th><strong>Phone Number</strong></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <tr>
                    <td width="250px"><input type="text" class="form-control" ng-model="phone.phone"
                                             placeholder="{{phone.phone}}"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </span>
        </div>
    </form>
</div>