<div class="container">
    <table class="table">
        <th><strong>Email</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Delete Email</strong></th>
        <th><strong>Add Email</strong></th>
        <tr ng-repeat="email in emails">
            <td>{{email.email}}</td>
            <td>{{email.emailType}}</td>
            <td><button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteUserEmail(user,email)">
                <span class="glyphicon glyphicon-trash"></span>
            </button></td>
            <td>
                <button class="pull-right btn btn-link" type="button" title="Add Email"
                        ng-click="goToAddEmail(user)">
                    <span class="glyphicon glyphicon-edit"></span></button>
            </td>
        </tr>
    </table>
</div>