<div class="container">
    <table class="table">
        <th><strong>Phone Number</strong></th>
        <th><strong>Delete Phone</strong></th>
        <th><strong>Add Phone
            <button class="pull-right btn btn-link" type="button" title="Add Phone"
                    ng-click="goToAddPhone(user)">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </strong></th>
        <tr ng-repeat="phone in phones">
            <td>{{phone.phone}}</td>
            <td>
                <select name="repeatSelect1" id="repeatSelect1" ng-model="phone.phoneType">
                    <option value=""> ---- Select Phone Type ----</option>
                    <option ng-selected="option==phone.phoneType" ng-repeat="option in phoneTypes"
                            value="{{option}}">{{option}}
                    </option>
                </select>
            </td>
            <td>
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteUserPhone(user,phone)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>