<div class="container">
    <table class="table">
        <th><strong>Common Name</strong></th>
        <th><strong>First Name</strong></th>
        <th><strong>Last Name</strong></th>
        <th><strong>Role</strong></th>
        <th><strong>Delete User</strong></th>
        <tr>
            <td>{{user.dba}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles.roles}}</td>
            <td>
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteUser(user)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
            <td>
                <button class="btn btn-default"  title="Edit User" ng-click="onClickNavigateToEdit(user)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
    </table>
</div>